<!DOCTYPE html>
<head>STUDENTS INFORMATIONS</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>GENDER</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <div>
                        <tr>
                            <td>{{student.id}}</td>
                            <td>{{student.name}}</td>
                            <td>{{student.gender}}</td>
                            <td><form method="POST" action='/setting' >
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{student.id}}">
                                <input type="submit" value="DETAIL">
                            </form></td>
                            <td>
                                <form action="/edit" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{student.id}}">
                                    <input type="submit" value="EDIT">
                                </form>
                            </td>
                            <td><form method="POST" action='/delete' >
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{student.id}}">
                                <input type="submit" value="DELETE">
                            </form></td>
                            <!-- <td>
                                <form action="/edit_save" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{student.id}}">
                                
                                </form>
                            </td> -->
                        </tr>
                    </div>
                {% endfor %}    
            </tbody>
        </table>
    </div>
</body>
